<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <div class="container">
        <div class="row theme_bg_color">
            GESTORE CODICE A BARRE
            
            <div class="col d-flex justify-content-end vertically_centred_version_01" mat-button [mat-dialog-close]="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16" (click)="closeDialog()">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                </svg>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <a href="#" class="btn btn-primary theme_bg_color">GENERA NUOVO</a>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
   
    
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/various/codice_a_barre.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>

    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-primary">SALVA</button>
        </div>

        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="closeDialog()">Chiudi</button>
        </div>
    </div>

</div>

