<!--
<iframe #content type="application/pdf" style="position: absolute; top: 20px; width: 100%; height: calc(100vh - 20px);"></iframe>

<img [src]="data.barcodeimage" alt="Barcode Image">
-->
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-8">Anteprima di stampa regolabile</div><div class="col-4 d-flex justify-content-end"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" (click)="close()" style="cursor: pointer;">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg></div>
      </div>
      <div class="d-flex justify-content-center">
        <app-a4printbacrodepreview id="printpagepreview" name="printpagepreview" #printpagepreview><img #barcodeimg [ngStyle]="{'width': imagesize+'px'}"></app-a4printbacrodepreview>
        <iframe name="pdfprintpage" id="pdfprintpage" #pdfprintpage class="a4-sheet" style="display: none; width: 400px; height: 600px;"></iframe>

      </div>
      <div class="col d-flex justify-content-center" >
        <mat-slider min="1" max="100" step="1" value="50" style="width:100%" id="mat_slider">
          <input matSliderThumb [(ngModel)]="imageslidervalue"  (ngModelChange)="onSliderChange($event)">
        </mat-slider>
        <div>{{imageslidervalue}}% <br> {{(imagesizeincm())}}cm.</div>
      </div>
      <div class="col d-flex justify-content-center">
        <button (click)="print()"id="print_button">STAMPA</button>
      </div>
    </div>
  </div>
</div>

